<div class="row mt-2">
  <div class="col">
    <h4> Countries: </h4>
    <div class="list-group"  *ngIf="!isFetching; else loading">
      <a
        *ngFor="let country of countries"
        class="list-group-item list-group-item-action"
        [routerLink] = "['/countries', country.alpha3Code]"
        routerLinkActive="active"
      >  {{country.name}}</a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
</div>
