<div class="card mb-2">
  <div class="row no-gutters">
    <h4>Country details:</h4>
    <div style="margin-top:30px" class="col-sm-4">
      <img src="http://146.185.154.90:8080/restcountries/data/{{ country.alpha3Code.toLowerCase()}}.svg"
           alt="{{ country.name }}"
        style="max-width: 100%"
      />
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <div class="card-text">{{ country.name }} </div>
        <div class="card-text">{{ country.capital }} </div>
        <div class="card-text">{{ country.alpha3Code }} </div>
        <div class="card-text">{{ country.region }} </div>
      </div>
    </div>
  </div>
</div>
